<div class="row">
  <div class="col-sm-12">

    <h2>Here</h2>

    <p ng-hide="studentsHere.length">
      No students are currently here.
    </p>

    <ul>
      <li ng-repeat="item in studentsHere = (students | filter:{present: true})">{{item.name}}</li>
    </ul>

    <h2>Not Here</h2>

    <p ng-show="students.length == studentsHere.length">
      All students are present.
    </p>

    <ul>
      <li ng-repeat="item in (students | filter:{present: false})">{{item.name}}</li>
    </ul>

  </div>
</div>
